GitPython
matplotlib
pandas
python-dict-wrapper
scipy
seaborn
scikit-image
sklearn
tables
tqdm
wandb
GPUtil
tensorboard
git+https://github.com/patrickmineault/research_code.git
git+https://github.com/greentfrapp/lucent.git